html{
    width:100%;
    height:100%;
}   

#gameCanvas {
    height: 380px;
}

#uiCanvas {
    background-color: black;
}

button {
    width: 200px;
    height: 100px;
    margin: 15px;
    color: black;
    background-color: crimson;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}


.container {
    display: block;
    text-align: center;
}

canvas {
    margin: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: 210px 210px 210px;
    background-color: #333;
    margin: 10px;
    max-width: 650px;
    margin: auto;
}

.grid-item {
    text-align: center;
}

body {
    background: #222;
}